			.tabs li {
				list-style:none;
				display:inline;
			}
			.tabs a {
				padding:5px 10px;
				display:inline-block;
				background:#666;
				color:#fff;
				text-decoration:none;
				width: 100%;
			}
			.tabs a.active {
				background:#fff;
				color:#000;
			}
			.tabs > li {
			    float: left;
			    width: 25%;
			}
			.tabContent {
	    border: 1px solid;
	    float: left;
	    padding: 10px;
	    text-align: left;
	    width: 100%;
		}
		.tabContent {
	    border: 1px solid;
	    float: left;
	    padding: 10px;
	    text-align: left;
	    width: 100%;
		}
		.leftSide {
	    float: left;
	    width: 35%;
		}
		.leftSide > img {
    	float: left;
    	width: 100%;
		}
		.rightSide {
    	float: left;
		}
		.pagination li {
	    display: inline;
	    float: left;
	    margin: 0 3px;
		}
		.tabContent #page-selection {
    	float: right;
		}
		.tabContent #page-selection1 {
    	float: right;
		}
