html {
	background-color: ##ffffff;
}
body, input, textarea, select, body .chosen-container-single .chosen-single span, body .chosen-container-single .chosen-single div:before {
	color: #647585;
}
a, .job_listing-clickbox:hover {
	color: #596b77;
}
a:active, a:hover {
	color: #40525e;
}
.site-header, .nav-menu--primary .sub-menu {
	background: #212638;
}
.nav-menu--primary ul li a, .nav-menu--primary li a, .nav-menu--primary ul li a:hover, .nav-menu--primary li a:hover, .primary-menu-toggle, .searchform--header__submit, .searchform--header__input {
	color: #ffffff;
}
.nav-menu--primary ul li.highlight a, .nav-menu--primary ul li.login a {
	border-color: #ffffff;
}
.nav-menu--primary ul li.highlight a:hover, .nav-menu--primary ul li.login a:hover {
	color: #222b38;
	background-color: #ffffff;
	border-color: #ffffff;
}
.search_jobs, .search_resumes, .cluster div, .job-type, .price-option__title, .entry-header__featured-image:hover .overlay, .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	background-color: #1e83f0;
}
.job_filters .search_jobs .filter_by_tag a.active {
	color: #1e83f0;
}
.cluster div:after, input:focus, .widget_price_filter .ui-slider .ui-slider-handle {
	border-color: #1e83f0;
}
ul.job_listings .job_listing:hover, .job_position_featured, li.type-resume:hover {
	box-shadow: inset 5px 0 0 #1e83f0;
}
.button, input[type=button], button, #submitcomment, #commentform input[type=submit], .widget--footer input[type=submit], .mfp-close-btn-in .mfp-close, input[name=wp_job_manager_send_application], input[name=wp_job_manager_edit_application], input[name=submit_bookmark], #rcp_submit, input[name=wp_job_manager_resumes_apply_with_resume], input[name=wp_job_manager_resumes_apply_with_resume_create], .wpcf7-submit, input[type=submit].ninja-forms-field, input[name=submit-job-alert], .hero-search .search_jobs>div input[type=submit], .hero-search .search_resumes>div input[type=submit] {
	background-color:#222638;
	border-color: transparent;
	color: #fff;
}
.button:hover, input[type=button]:hover, button:hover, .job-manager-pagination a:hover, .job-manager-pagination span:hover, .page-numbers:hover, #searchform button:hover, #searchform input[type=submit]:hover, #submitcomment:hover, #commentform input[type=submit]:hover, .page-numbers.current, .widget--footer input[type=submit]:hover, .mfp-close-btn-in .mfp-close:hover, input[name=wp_job_manager_send_application]:hover, input[name=wp_job_manager_edit_application]:hover, input[name=submit_bookmark]:hover, #rcp_submit:hover, input[name=wp_job_manager_resumes_apply_with_resume]:hover, input[name=wp_job_manager_resumes_apply_with_resume_create]:hover, .wpcf7-submit:hover, input[type=submit].ninja-forms-field:hover, input[name=submit-job-alert]:hover, .tp-caption .button:hover {
	background-color: transparent;
	color: #222638;
	border-color: #222638;
}
.button--type-inverted, .widget--home-video .button, .load_more_jobs strong, .load_more_resumes strong, .job-manager-form.wp-job-manager-bookmarks-form a.bookmark-notice {
	color: #1e83f0;
	border-color: #1e83f0;
}
.button--type-inverted:hover, .widget--home-video .button:hover, .load_more_jobs strong:hover, .load_more_resumes strong:hover, .job-manager-form.wp-job-manager-bookmarks-form a.bookmark-notice:hover {
	background-color: #1e83f0;
	color: #fff;
}
.button--type-action, .button--type-secondary:hover, .single-product #content .single_add_to_cart_button, .checkout-button, #place_order, input[type=button].application_button, input[type=button].resume_contact_button {
	color: #1e83f0;
	background-color: transparent;
	border-color: #1e83f0;
}
.button--type-action:hover, .button--type-secondary, .single-product #content .single_add_to_cart_button:hover, .checkout-button:hover, #place_order:hover, input[type=button].application_button:hover, input[type=button].resume_contact_button:hover {
	background-color: #1e83f0;
	color: #ffffff;
	border-color: #1e83f0;
}
.button--color-white, .button--color-white.button--type-inverted:hover, .button--type-hover-white:hover {
	color: #647585;
	background-color: #ffffff;
	border-color: #ffffff;
}
.button--color-white:hover, .button--color-white.button--type-inverted, .button--type-hover-inverted-white:hover {
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;
}
.footer-cta, .footer-cta a, .footer-cta tel {
	color: #ffffff;
}
.footer-cta a.button:hover {
	color: #222b38 !important;
}
.footer-cta {
	background-color: #222b38;
}
.widget-title--footer {
	color: #647585;
}
.widget--footer a {
	color: #647585;
}
.widget--footer {
	color: #647585;
}
.footer-widgets {
	background-color: #ffffff; font-size:16px;
}
.copyright a {
	color: #647585;
}
.copyright {
	color: #647585;
}
.site-footer {
	background-color: #ffffff;
}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
	background-color: #1e83f0;
}
.woocommerce .price ins, .woocommerce ul.product_list_widget ins {
	background-color: #1e83f0;
}
.single-product #content .woocommerce-tabs .tabs li.active a {
	color: #1e83f0;
	border-bottom: 2px solid #1e83f0;
}
.logged-in .modal .post-99991207 .entry-content {
	padding: 30px;
}
.site-title span {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{  background-color: #222638 !important;  border-color: #222638 !important;}

