img.img-circle {border: 2px solid #dfe4ed; width: 40px; color: transparent; height: 40px; border-radius: 50%;}
.alert {
	background: #fffaef;
	border-color: #ecdcb6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #b68b53
}
.alert strong, .alert b {
	color: inherit
}
.alert-danger, .alert_error {
	background: #f7e7e4;
	border-color: #ecbeb6;
	color: #b55351
}
.alert_success {
	background: #eaf4e2;
	border-color: #c1dea9;
	color: #61a06f
}
/*
.button--type-action{
    background-color: #1e83f0 !important;
    border-color: #1e83f0;
    color: #ffffff;
}
*/
.button--type-action{
    background-color: #F1B73F !important;
    border-color: transparent !important;
    color: #ffffff;
}

.form-row-wide{
	margin: 0 0 10px;
}

