/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);*/

@font-face {
  font-family: 'GillSansMTPro-Light';
  src: url('../fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GillSansMTPro-Light.otf')  format('opentype'),
	     url('../fonts/GillSansMTPro-Light.woff') format('woff'), url('../fonts/GillSansMTPro-Light.ttf')  format('truetype'), url('../fonts/GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GillSansMTPro-Medium';
  src: url('../fonts/GillSansMTPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/GillSansMTPro-Medium.otf')  format('opentype'),
	     url('../fonts/GillSansMTPro-Medium.woff') format('woff'), url('../fonts/GillSansMTPro-Medium.ttf')  format('truetype'), url('../fonts/GillSansMTPro-Medium.svg#GillSansMTPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{font-family: 'GillSansMTPro-Light' !important; font-size:18px;}
.nav-tabs > li > a{ border-radius:0 !important;}

a:hover {
 text-decoration: none;
}
h1, h2, h3 {
  font-family: 'GillSansMTPro-Medium' !important;
}
.inner_padding {
 padding-top: 105px;
}
.lets h2 {
 text-align: center;
 font-size: 40px;
}
.lets h2 span {
 display: block;
 font-weight: 300;
}
.devide_row {
 padding-top: 30px;
}
.devide_row .jobcolumn {
 text-align: center;
}
.devide_row .col-sm-6:first-of-type {
 border-right: 1px solid #ccc;
}
.circle_dv {
 width: 164px;
 height: 164px;
 background: #e0e0dc;
 border: 1px solid #ccc;
 border-radius: 50%;
 margin: 0 auto;
 transition: all ease 0.5s;
}
.circle_dv:hover {
 background: f3f3f3;
 border: 1px dashed #1e83f0;
}
.circle_dv a {
 display: block;
 margin-top: 22px;
}
a.regist_btn {
 width: 128px;
 height: 36px;
 background: #F1B73F;
 border-radius: 0;
 color: #fff;
 display: block;
 margin: 0 auto;
 line-height: 36px;
 margin-top: 25px;
  font-family: 'GillSansMTPro-Medium';

}
a.regist_btn:hover {
 background:#FF9653;
}
.register_dv {
 max-width: 750px;
 margin: 0 auto;
}
.callout-feature-content p span {
 color: #f1b73f;
}
ul.nav-menu li a:hover {
 color: #f1b73f;
}
ul.nav-menu li.active a {
 color: #f1b73f;
}
.search_jobs input, .search_jobs .bootstrap-select > .btn {
 border-radius: 0 !important;
}
ul.job_listings, ul.resumes, .job_types {
 border-left: 0;
 border-right: 0;
}
.job_listing-company, .resume-candidate-title {
 font-family: 'Lato', sans-serif !important;
}
.resiexperince_dv {
 padding-top: 15px;
}
.resiexperince_dv .col-sm-8, .resiexperince_dv .col-sm-4 {
 float: left;
 padding-left: 15px;
 padding-right: 15px;
}
.resiexperince_dv .col-sm-8 {
 width: 60%;
}
.resiexperince_dv .col-sm-4 {
 width: 40%;
}
.resiexperince_dv h3 {
 font-weight: 700;
 margin: 0 auto;
}
.resiexperince_dv h4 {
 font-size: 16px;
 margin: 4px 0 0;
 padding: 0;
}
.resiexperince_dv p {
 font-size: 14px;
 margin-top: 5px;
}
.viewdetails_row {
}
.viewdetails_row a.details {
 color: #fff;
 float: left;
 font-size: 15px;
 padding: 6px;
 text-align: center;
 width: 123px; background:#222638;   font-family: 'GillSansMTPro-Medium';
}

.viewdetails_row a.details:hover{ background:#0B0E19;}

.savebtn_dv {
 font-size: 15px;
    margin: 9px auto;
    text-align: center;
    width: 179px;
}
.savebtn_dv .oneday_left {
 border-right: 1px solid #ccc;
 float: left;
 margin-right: 0px;
 padding-right: 8px;
}
.savebtn_dv .savebtn {
 float: left;
 width: 109px; margin-left:-7px; margin-top:1px;
}
.job_listings_new {
 list-style: none;
   padding: 0; margin-left:auto; margin-right:auto;
}
.job_listing_list {
 border-bottom: 1px solid #ccc;
 margin-bottom: 22px;
 padding-bottom: 26px;
}


.job_listing_list::after {
 clear: both;
 content: "";
 display: table;
}
.oneday_left ul {
 width: 100%;
 list-style: none;
 margin: 0;
 padding: 0;
}
.savebtn_dv .savebtn i {
 font-size: 17px;
 margin-right: 8px;
}
.job_listing_list:first-of-type {
 border-top: 1px solid #ccc;
}


.resiexperince_dv h4 span{ border-left: 1px solid #ccc;
   margin-left: 10px;
   padding-left: 9px;}

 .job_types li{ background:#687178; border-right:0;}

.jobfilter{ float:left;}

.search_jobs .search_keywords, .search_jobs .search_location, .search_jobs .search_categories, .search_jobs .search_submit, .search_jobs .search_categories {
    width: 19% !important;
}


.jobfilter span{ color:#fff; padding-right:4px;}

.profile-picture{ margin-top:-10px;}
.nav-menu--primary a, ul.nav-menu--primary a{ padding:0 14px;}
.nav-menu--primary li, ul.nav-menu--primary li{ float:left; font-family: 'GillSansMTPro-Medium';}
#menu-main-menu{ float:right !important;}


/*My Account Page -- 28/06/2016*/
/*
.myaccountpage .nav-tabs{background:#212638; border:none;  }
.myaccountpage .nav-tabs > li.active > a,
.myaccountpage .nav-tabs > li.active > a:hover,
.myaccountpage .nav-tabs > li.active > a:focus{border:none;}
.myaccountpage .nav-tabs > li > a{color:#fff; }
.myaccountpage .nav-tabs > li > a{border-radius:0;}
*/
.tabs li {list-style:none;display:inline;}
.tabs a {padding:5px 10px;display:inline-block;background:#666;color:#fff;text-decoration:none;width: 100%;}
.tabs a.active {background:#fff;color:#000;}
.tabs > li {float: left;width: 25%;}
.tabContent {border: 1px solid;float: left;padding: 10px;text-align: left;width: 100%;}
.tabContent {border: 1px solid;float: left;padding: 10px;text-align: left;width: 100%;}
.leftSide {float: left;width: 35%;}
.leftSide > img {float: left;width: 100%;}
.rightSide {float: left;}
.pagination li {display: inline;float: left;margin: 0 3px;}
.tabContent #page-selection {float: right;}
.tabContent #page-selection1 {float: right;}

a:focus{outline:none;}
.tool_tab{width:100%; float:left; margin-top:00px;}
.tool_tab .nav-tabs{width:100%; float:left; border-bottom: 1px solid #ccc; background:none;}
.tool_tab .nav-tabs li{width:auto; float:left; margin-right: 5px; font-size:17px; background:none;}
.tool_tab .nav-tabs a {display:block; margin-bottom:-1px;	color: #666;  padding:14px 10px; border:1px solid transparent;
border-top:2px solid transparent; font-size:16px;  background:none; }
.tool_tab .nav-tabs a:hover,
.tool_tab .nav-tabs a:focus,
.tool_tab .nav-tabs li.active a{color: #212638; border-top:2px solid #212638;
border-bottom:1px solid #fff; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff;}

.tool_tab .tab-pane {text-align:center;}
.tool_tab .basicform{width:100%; max-width:450px; margin:0 auto; display:inline-block;
margin-top:30px; float:none;}
.tool_tab .basicform ul{width:100%; float:left;}
.tool_tab .basicform ul li{width:100%; float:left; margin-bottom:20px;}
.tool_tab .basicform ul li .txtbx{border: 2px solid #ccc;  color: #231f20;    float: left;    font-size: 16px;
   height: 45px;  padding: 10px 35px 10px 10px; text-align: left;  width: 100%; background-color:transparent;}
.tool_tab .basicform ul li textarea.txtbx{height:auto; resize:none;}

.tool_tab .btn1{width:48%; float:left; background:#f16c4f; color:#fff; font-size:20px;
border:none; padding:5px; border: 2px solid transparent;}
.tool_tab .btn1.cansl{float:right; background:#1a1818;}

.tool_tab .btn1:hover{border:2px solid #f16c4f; color:#f16c4f; background-color:transparent;}
.tool_tab .btn1.cansl:hover{border:2px solid #1a1818; color:#1a1818; background-color:transparent;}

.tool_tab .panel-title > a{width:100%;  clear: both; display: inline-block;color:#fff;}

.tool_tab .panel-default > .panel-heading{background-color:#212638;  background-image:none; }

.tool_tab .leftSide{width:100%; }

.tool_tab .leftSide img{ border: 1px solid #ccc;
    height: 250px;
    padding: 4px;
    width: 250px;}

.tool_tab .tab-content .tab-pane {float:left;  padding: 30px 0; width:100%;  }
.tool_tab .rightSide{width:100%;}
.tool_tab .rightSide h4{ margin:0; display:inline-block; text-align:left; font-size:20px; color:#212638;
text-transform: capitalize;border-bottom: 1px solid #212638;
   width: 100%;  }
.tool_tab .rightSide ul{width:100%; float:left; margin:0; padding:0; margin-top:15px;}
.tool_tab .rightSide ul li{width:100%; float:left; margin:0; padding:0; text-align:left; margin-bottom:5px; list-style:none;}
.tool_tab .rightSide span{margin:0; padding:0; width:30%;   display: inline-block; text-align:left;  }
.tool_tab .rightSide .lbl{width:30%; font-weight:normal; font-size:16px; text-transform:capitalize;  }

.tablediv th{padding:5px 10px; font-size:15px; }
.tablediv td{padding:5px 10px; }
.pagination{margin:0; float:right;}
/*My Account Page -- 28/06/2016*/

/*Client Changes 29/6/2016*/
.inner_padding { padding-top: 85px;}
.loginsignupmain{text-align:center;}

.loginsignupmain p.error_message{ text-align:left;}
.loginsignupmain .lost_password{ float:right; margin-top:15px;}
.loginsignupmain .lost_password a:hover{ color:#F1B73F;}
.loginsignupmain .input-text{border:none; border-bottom:2px solid #647585; border-radius:0; padding-left:20px;
margin-bottom:10px;}
.loginsignupmain .upload{width:auto; float:left; position:relative;}
.loginsignupmain .upload .brows{  background: rgba(0, 0, 0, 0) url("../images/upload.png") no-repeat scroll center center;
cursor: pointer;  display: inline-block;    float: left;    overflow: hidden;border:2px solid #647585; padding:7px 15px;
text-align: center;    vertical-align: middle;    width:auto; margin:0 auto; font-size:14px; font-weight:normal;   }
.loginsignupmain .upload .brows input {  left: 0;    margin: 0;    opacity: 0;
position: absolute;    visibility: hidden;}

.form-row-wide{position:relative;}
.form-row.form-row-wide > img.icon {   left: 0;  position: absolute;  top: 12px;}
.loginsignupmain .dropdown{ border:none;  border-bottom:2px solid #647585; border-radius:0; padding-left:0; text-transform:uppercase;  }

.jobpostlogin .input-text{padding-left:00px;}
.jobpostlogin textarea{text-transform:uppercase;}

.joblist-forms{background:#687178; width:100%; float:left; margin-bottom:10px;}
.joblist-forms .search_jobs{padding:0; padding:45px 0;}
.joblist-forms .search_jobs .search_keywords,
.joblist-forms .search_jobs .search_location,
.joblist-forms .search_jobs .search_categories,
.joblist-forms .search_jobs .search_submit,
.joblist-forms .search_jobs .search_categories{width:19% !important;}
.joblist-forms .search_jobs .search_categories{margin-bottom:0; }

.joblist-forms .job_types{float:right;}
/*Client Changes 29/6/2016*/

.search_jobs > div{ float:none !important;}
.search_keywords , .search_location , .search_categories , .search_submit  { float:left !important; }

.jobfilter{ float:right;}

/*07-04-2016*/
a.regist_btn{border:2px solid transparent;  line-height: 30px; font-size:16px;}
a.regist_btn:hover{background:none; color:#ff9653; border:2px solid #ff9653;}
.howitworks .whitebox .cntent input{border:2px solid transparent;padding: 9px 50px; font-family: 'GillSansMTPro-Medium'; }
.howitworks .whitebox .cntent input[type="submit"]{ display:block; margin:0 auto;}
.howitworks .whitebox .cntent input[type="checkbox"]{ margin-right:5px;}
.howitworks .whitebox .cntent input:hover{background:none; color:#ff9653; border:2px solid #ff9653;}
.savebtn_dv .savebtn{line-height:normal;}
#formJobFilter .search_jobs .container{padding:0;}
/*07-04-2016*/
.search_keywords.comonkeyword{
	float: left;
	width: 50% !important;
}
.howitworks .whitebox .cntent h2{font-family: 'GillSansMTPro-Light' !important;}
.pagination > li > a, .pagination > li > span{ color: #222638;}
.widget--home-job-spotlights .userDetail{ max-width:510px; margin:0 auto;}
.widget--home-job-spotlights .userDetail .imageSection img{border: 1px solid #ccc;
    height: 250px;
    width: 250px; padding:4px;}
.widget--home-job-spotlights .userDetail .bottomDiv ul{ list-style:none; margin:0; padding:0;}
.widget--home-job-spotlights .userDetail .bottomDiv ul li{ clear:both;}
.widget--home-job-spotlights .userDetail .bottomDiv ul li:after{ display:table; content:""; clear:both;}
.widget--home-job-spotlights .userDetail .bottomDiv ul li label{ float:left; width:228px; text-align:left; position:relative;}
.widget--home-job-spotlights .userDetail .bottomDiv ul li label:after{content: ":";
    display: inline-block;
    position: absolute;
    right: 34px;
    text-align: right;
    z-index: 1;}
.widget--home-job-spotlights .userDetail .bottomDiv ul li p{ float:left; text-align:left; width:272px; word-wrap:break-word; }


.browse_devide_Dv{}

.browse_devide_Dv .left_txt{ float:right; width:80%;}
.browse_devide_Dv .rightimg_dv{ float:right; width:20%; text-align:center; margin-bottom:48px;}

.browse_devide_Dv .rightimg_dv img.img_browse{ width:100px; height:100px;}
.sr{ width:5%;}
.sr_title{ width:15%;}
.sr_discription{ width:40%;}
.sr_name{ width:15%;}
.sr_date{ width:15%;}
.sr_action{ width:10%;}

.tablediv input.btnAward:hover{ border:2px solid #000; color:#000;}

.jobpost_table table tr td{ vertical-align:top; }


.jobpost_table table tr td p{ text-align:justify;}


.acoount_sr{ width:5%;}
.acoount_title{ width:10%;}
.acoount_dis{ width:30%;}
.acoount_poster{ width:10%;}
.acoount_dedline{ width:15%;}
.acoount_date{ width:15%;}
.acoount_status{ width:15%;}

.jobaccount_table table tr td{ vertical-align:top; }


.jobaccount_table table tr td p{ text-align:justify;}

.jobaccount_table .dropdown {
    width: 97px;
    padding: 0 10px;
    min-width: initial !important;
}

.tablediv td a{ color:#428bca; }
.tablediv td a:hover{text-decoration:underline;}


.search_keywords select{ border-radius:0; margin-top:3px;}

.comment-form-comment textarea{ border-radius:0;}

.job-spotlights .job-spotlight{ border-radius:0;}
.job-spotlight__featured-image a, .job-spotlight__featured-image img{ border-radius:0;}
.howitworks .register{ border-radius:0;}
.widget--footer ul{ list-style:none;}

.JobSetting{ max-width: 781px; margin: 0 auto; margin-bottom: 45px;}
  .JobSetting h3 {  font-size: 20px;
    margin: 0;
    text-align: left; color: #212638;
    text-transform: capitalize; }

.JobSetting ul{ list-style: none; text-align: left; margin: 0; padding: 0;}
.JobSetting ul li{}
.JobSetting ul li label{ font-weight: normal; text-transform: none; margin-bottom: 0;}
.job_left{ float:left; width:78%; padding-left: 61px;}
.googleAd-right{ float:left;width:18%; border:1px solid #ccc; height: 350px; margin-left: 10px; background: grey;}
.holder container{ clear:both;}
