.holder {
	margin: 15px 0; margin-left:auto; margin-right:auto;
}

.holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 3px;
	color: #333;  padding: 3px 7px; background:#ccc;
}

.holder a:hover {
	background-color: #222;
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none; 
}

.holder a.jp-current, a.jp-current:hover{ border:1px solid #ccc; 	}

.holder span { margin: 0 5px; }