@media (max-width:1199px){
	
	.inner_padding{ padding-top:0}
	
	
	}
	
	
@media (max-width:991px){	
	.leftSide > img { text-align:center; float: none; width: auto;}
}
	@media (max-width:992px){
		
	.search_jobs div.search_location, .search_jobs div.search_region, .search_resumes div.search_location, .search_resumes div.search_region{ margin-left:0;}	
		.tablediv td,
		.tablediv th{font-size:14px;}	 
			}
	
	
@media (max-width:767px){	
	.search_jobs .search_keywords, 
	.search_jobs .search_location, 
	.search_jobs .search_categories, 
	.search_jobs .search_submit, 
	.search_jobs .search_categories {
    margin-right: 0 !important;
    width: 100% !important; margin-bottom:10px;
	}
	.search_jobs .search_submit{width:100% !important; margin-right:0 !important; }
	
	.devide_row .col-sm-6:first-of-type { margin-bottom:50px;}
	.woocommerce input[name="login"], .woocommerce-page input[name="login"]{ margin-bottom:7px;}
	
	.jobdetail_page .col-sm-9{ width:100%;}
.jobdetail_page .col-sm-3{ width:100%;}
.callout-feature-content p span { display:block;}

.nav-menu--primary li, ul.nav-menu--primary li{ float:none;}
#menu-main-menu{ float:none;}
.tool_tab .rightSide .lbl{font-size:14px;}  
.tool_tab .rightSide span{font-size:13px;}
.tool_tab .rightSide .lbl{width:100%; padding:0; margin-bottom:5px;}
.tool_tab .rightSide span{width:100%;}
.widget--home-job-spotlights .userDetail .bottomDiv ul li label::after{ content:"";}
.browse_devide_Dv .left_txt{ width:100%; float:none; margin-bottom:15px;}
.browse_devide_Dv .rightimg_dv{ float:none; width:100%;}
}
@media only screen and (max-width: 767px), (min-device-width: 767px) and (max-device-width:767px)  {

.tablediv table, thead, tbody, th, td, tr { display: block; }	
.tablediv thead tr { position: absolute; top: -9999px; left: -9999px;	}		
.tablediv tr { border: 1px solid #ccc; }
.tablediv td {	border: none;border-bottom: 1px solid #eee;  position: relative;	padding-left: 50%;  font-size:13px;}		
.tablediv td:before { position: absolute;
			top: 6px;left: 6px;	width: 45%; padding-right: 10px; white-space: nowrap;content: attr(data-name); }		
		}
		
		
	@media (min-width:768px){
		
		.job-spotlights .job-spotlight{  height:500px; overflow:hidden;}
		
			}	